      html,
      body {
        width:100%;
      }

      .row{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        position: absolute;
        height:100%;

      }
      .top-row{
        background: deeppink;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items:center;

      }

  /*    .filter-button{
        margin-left: auto;
        margin-right: auto;
        display: block;

      }*/
      .hamburger-menu{
        width:2%;
      }

      ul {
          list-style-image: url('images/tree.png');
        }
      li {
        position: relative;
      }

      hr {
        margin-top:10px;
        border-color : darkgreen;
        margin-right: 10px;
      }
      .container{
        width:100%;
        /*position: relative;*/
      }
      @media screen and (max-width: 549px){
        .nav-panel, .location-list{
          max-height : 100px;
          width: 100%;
        }
        hr{
          display:none;
        }
        ul{
          list-style: none;
        }
        .location-list{
          font-size: .7em;
        }
      }

      .nav-panel{
        z-index: 1;
        /*width: 300px;*/
        position: absolute;
        height:100%;
        background-color: white;
        opacity:.8;
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
        transition: transform 0.3s ease;


      }
      @media screen and (min-width: 550px){
        .nav-panel{
          width: 20%;
        }
        .location-list{
          font-size: 1em;
        }
      }

      .open{
         -webkit-transform: translate(0, 0);
         transform: translate(0, 0);
      }
      .movemap{
        /*margin-left:300px;*/
      }
      .location-list{
        margin-bottom: 15px;
      }

      #map {
        bottom:0px;
        height: 100%;
        position:absolute;
        right: 0px;
        width:100%;
      }